@model RTCodingExercise.Monolithic.Common.Models.PaginatedList<RTCodingExercise.Monolithic.Common.Models.Plate>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reg Transfers</h1>
</div>

<a href="/Plate/Add">Add a plate</a>

<div class="md-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">@Html.LabelFor(m => m.First().Registration)</th>
            <th scope="col">@Html.LabelFor(m => m.First().PurchasePrice)</th>
            <th scope="col">@Html.LabelFor(m => m.First().MarkUp)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var plate in Model)
        {
            <tr>
                <td>@plate.Registration</td>
                <td>@plate.PurchasePrice.ToString("0.00")</td>
                <td>@plate.MarkUp.ToString("0.00")</td>
            </tr>
        }
        </tbody>
    </table>
    <partial name="_Pagination" />
</div>